
  <h2 class="sea-blue">Articles</h2>
  <%if current_admin%>
  <%=link_to "Create Article", new_article_path%>
  <%end%>
  <div class="wrap">

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <% if current_admin%>
        <th>Options</th>
        <%end%>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to "#{article.title}", article_path(article) %></td>
          <td><%= article.description %></td>
          <td><%=article.created_at.to_formatted_s(:long)%></td>
          <% if current_admin %>
          <td><%=link_to 'edit', edit_article_path(article)%><%=link_to 'delete',article_path(article), method: :delete%></td>
          <%end%>
        </tr>
      <% end %>
    </table>
    <div class="sidebar">
      Side Bar 
      include navigation that allows users to search by date or by topic 

    </div>
  </div>
  
  <br><br>


