
  <h2 class="sea-blue">Articles</h2>
  <%=link_to "Create Article", new_article_path%>
  <div class="wrap">

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Options</th>
      </tr>

      <% @articles.each do |article| %>

        <tr>
          <td><%= link_to "#{article.title}", article_path(article) %></td>
          <td><%= article.description %></td>
          <td><%=article.created_at.to_formatted_s(:long)%></td>
          <td><%=link_to 'edit', edit_article_path(article)%><%=link_to 'delete',article_path(article), method: :delete%></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <br><br>


