<h1><%=@article.title%></h1>
<br>
<div class="wrapper">
	
	<h3><i><%=@article.description%></i></h3><br>
	<p>Text:<%=@article.text%></p><br>
	<% if current_admin%>
	<%=link_to 'edit', edit_article_path(@article)  %>
	<%=link_to 'okay', articles_path%>
	<%end%>

</div>
