<h1>New Photo!</h1>


<%=form_for @photo do |f|%>

<!-- User should be able to drag foto or select file to display it -->

<%=f.label :title%>
<%=f.text_field :title%>
<%=f.label :description%>
<%=f.text_field :description%>
<%end%>