<div id="stats-updates">
	<%=form_for @stat do |f| %>
		<h4><%=f.label :hours_slept%></h4><br>
		<%=f.number_field :hours_slept%><br>
		<h4><%=f.label :hours_worked%></h4><br>
		<%=f.number_field :hours_worked%><br>
		<h4><%=f.label :mg_caffeine%></h4><br>
		<%=f.number_field :mg_caffeine%><br>
		<h4><%=f.label :day_rating%></h4><br>
		<%=f.number_field(:day_rating )%><br><br>
		<h4><%=f.label :hours_fitness%></h4><br>
		<%=f.number_field(:hours_fitness )%><br><br>

		<%=f.submit :submit%>
	<%end%>
</div>