<div id="stats-updates">
			<%=form_for @stat do |f| %>
				<%=f.label :hours_slept%>
				<%=f.text_field :hours_slept%>
				<%=f.label :hours_worked%>
				<%=f.text_field :hours_worked%>
				<%=f.label :mg_caffeine%>
				<%=f.text_field :mg_caffeine%>
				<%=f.label :day_rating%>
				<%=f.text_field :day_rating%>
			<%end%>
		</div>